/* disaster-response/src/components/Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1f4068;
}

.login-form {
  background: #162447;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: left;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #e43f5a;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #1b1b2f;
  color: #e4e4e4;
}

.login-form input:focus {
  border-color: #e43f5a;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #e43f5a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #e74c3c;
}

.login-form p {
  text-align: center;
  color: #e4e4e4;
}

.login-form p a {
  color: #e43f5a;
  text-decoration: none;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 10px;
}

#submitButton{
  margin-left: 80px;
  width: 200px;
}
